* {
    font-family: sans-serif;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #24adff;
    transition: 0.3s;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

header,
footer {
    background-color: #CCE4FF;
}
